extends layout

block content
  h1= title
  p Welcome to #{title}

  // 普通的注释会被添加到HTML的页面之中
  div.alert.alert-danger this is a error message
  //- 添加一个斜线之后的注释不会被翻译到页面之中
  div.alert.alert-success
    | success 1
    | success 2
    | success 3

  p.
    第1行文字<br/>
    第2行文字<br/>
    第3行文字<br/>
    第4行文字<br/>

  a.btn.btn-primary(href="http://baidu.com",target="_blank") baidu

  - var titleName = 'AAB'
  if titleName === 'AAA'
    p name is #{titleName}
  else
    p it's other name #{titleName}

  - var nameList = ['BBBB','CCCC'];
    ul
      each name in nameList
        li=name

block jqueryScripts
  script $(document).ready(function() {console.log('ready');});



